@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}


.container {
  
  margin:0 auto;
  /* border:1px solid black; */
  width: 50rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.main-header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 4.5rem;
  background-color: #4381C1;
  padding: 1 2.5rem;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #1A1B41;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  border: 1px solid rgba(0,0,0,0.26) 
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
    padding: .7rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 1 1.25rem;
}

.btn {
  /* display: flex; */
  /* justify-content: center; */
  font: inherit;
  border: 1px solid #4381C1;
  color: #4381C1;
  background: white;
  /* margin-bottom: 1rem; */
  /* margin:1rem; */
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #4381C1;
  color: white;
}

.error_message {
  width:20rem;
  display:flex;
  justify-content: center;
  color:red;
  margin:1rem auto;
  text-align: center;
  /* background-color:rgba(167, 8, 8, 0.26); */
  /* height: 2rem; */

}


.pagination {
  margin-top: 2rem;
  text-align: center;
}

.pagination a {
  text-decoration: none;
  color: #1A1B41;
  padding: 0.5rem;
  border: 1px solid #4381C1;
  margin: 0 1rem;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
  background: #4381C1;
  color: white;
}